<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page container-->
  <div class="container mt-5 mb-md-4 pt-5">
      <!-- Title + Breadcrumb-->
<!--      <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>-->
  </div>

   <!-- Hero-->
   <section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row align-items-md-start align-items-center gy-4">
      <div class="col-lg-5 col-md-6">
        <div class="mx-md-0 mx-auto mb-md-5 mb-4 pb-md-4 text-md-start text-center" style="max-width: 416px;">
          <h1 class="mb-4">{{'CONTACT_US' | translate}}</h1>
          <p class="mb-0 fs-lg text-muted">{{'CONTACT_TEXT' | translate}}</p>
        </div><img class="d-block mx-auto" src="assets/img/real-estate/illustrations/contact.svg" alt="Illustration">
      </div>
      <div class="col-md-6 offset-lg-1">
        <div class="card border-0 bg-secondary p-sm-3 p-2">
          <div class="card-body m-1">
            <form class="needs-validation" novalidate (ngSubmit)="validSubmit()" [formGroup]="validationform">
              <div class="mb-4">
                <label class="form-label" for="c-name">{{'FULL_NAME' | translate}}</label>
                <input class="form-control form-control-lg" id="c-name" type="text" required formControlName="name" [ngClass]="{'is-invalid': submit && form['name'].errors}">
                <div class="invalid-tooltip mt-1">{{'MESSAGE_REQUIRED_NAME' | translate}}</div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="c-email">{{'EMAIL' | translate}}</label>
                <input class="form-control form-control-lg" id="c-email" type="email" required formControlName="email" [ngClass]="{'is-invalid': submit && form['email'].errors}">
                <div class="invalid-tooltip mt-1">{{'MESSAGE_REQUIRED_EMAIL' | translate}}</div>
              </div>
              <div class="mb-4">
                <label class="form-label" for="c-phone">{{'PHONE' | translate}}</label>
                <input class="form-control form-control-lg" id="c-phone" type="text" formControlName="phone">
              </div>
              <div class="mb-4">
                <label class="form-label" for="c-message">{{'MESSAGE' | translate}}</label>
                <textarea class="form-control form-control-lg" id="c-message" rows="4" placeholder="{{'MESSAGE' | translate}}" required formControlName="message" [ngClass]="{'is-invalid': submit && form['message'].errors}"></textarea>
                <div class="invalid-tooltip mt-1">{{'MESSAGE_REQUIRED_MESSAGE' | translate}}</div>
              </div>
              <div class="mb-4">
                <input type="checkbox" formControlName="acceptance">
                <span>&nbsp;</span>
                <label class="form-label" for="c-message">  {{'MESSAGE_ACCEPT_TERMS1' | translate}} </label>
                <span>&nbsp;</span>
                <a href="/pages/terms-of-use">{{'MESSAGE_ACCEPT_TERMS_OF_USE' | translate}}</a>
                <span>&nbsp;</span>
                <label class="form-label" for="c-message">  {{'MESSAGE_ACCEPT_TERMS2' | translate}} </label>
                <span>&nbsp;</span>
                <a href="/pages/terms-of-use">{{'MESSAGE_ACCEPT_PRIVACY_POLICY' | translate}}</a>
                <div class="invalid-tooltip mt-1">{{'MESSAGE_REQUIRED_ACCEPTANCE' | translate}}</div>
              </div>
              <div class="pt-sm-2 pt-1">
                <button class="btn btn-lg btn-primary w-sm-auto w-100" type="submit">{{'SUBMIT_FORM' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact cards-->
  <section class="container mb-5 pb-2 pb-md-4 pb-lg-5">
    <div class="row g-4">
      <!-- Item-->
      <div class="col-md-4"><a class="icon-box card card-hover h-100" href="mailto:help@istaff.gr">
          <div class="card-body">
            <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-mail"></i></div><span class="d-block mb-1 text-body">{{'DROP_US_AN_EMAIL' | translate}}</span>
            <h3 class="h4 icon-box-title mb-0 opacity-90">help&#64;istaff.gr</h3>
          </div></a></div>
      <!-- Item-->
      <div class="col-md-4"><a class="icon-box card card-hover h-100" href="tel:+30 2289 022642">
          <div class="card-body">
            <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-device-mobile"></i></div><span class="d-block mb-1 text-body">{{'CALL_US' | translate}}</span>
            <h3 class="h4 icon-box-title mb-0 opacity-90">+30 2289 022642</h3>
          </div></a></div>
      <!-- Item-->
      <div class="col-md-4"><a class="icon-box card card-hover h-100" href="https://www.instagram.com/i_staff_mykonos/"  target="_blank">
          <div class="card-body">
            <div class="icon-box-media text-primary rounded-circle shadow-sm mb-3"><i class="fi-instagram"></i></div><span class="d-block mb-1 text-body">{{'FOLLOW_US_INSTAGRAM' | translate}}</span>
            <h3 class="h4 icon-box-title mb-0 opacity-90">&#64;i_staff_mykonos</h3>
          </div></a></div>
    </div>
  </section>
</main>

<!-- Footer-->
<app-footer></app-footer>

