<!-- Navbar-->
<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header (window:scroll)="windowScroll()">
  <div class="container">
<!--    <a class="navbar-brand me-3 me-xl-4" routerLink=""><img class="d-block" src="assets/img/logo/logo-dark.svg" width="116" alt="Finder"></a>-->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMobileMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
        <!-- Demos switcher-->
        <li class="nav-item dropdown me-lg-2">

          <a class="nav-link dropdown-toggle align-items-center pe-lg-4" href="javascript:void(0);" data-bs-toggle="dropdown" role="button" aria-expanded="false" (click)="demosDroupDownClick()">
            <i class="fi-layers me-2"></i>{{countryName}}<span class="d-none d-lg-block position-absolute top-50 end-0 translate-middle-y border-end" style="width: 1px; height: 30px;"></span>
          </a>
          <ul class="dropdown-menu demos">
            @for (item of listLang; track $index) {
              <li>
              <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="setLanguage(item.text, item.lang, item.flag)" [ngClass]="{'active': cookieValue === item.lang}">
<!--                <img src="{{item.flag}}" alt="user-image" class="me-1" height="12"> -->
                <span class="align-middle">{{item.text}}</span>
              </a>
              </li>
            }

          </ul>
        </li>
      </ul>

    </div>
  </div>
</header>
<!-- Page content-->
