<main class="page-wrapper">
  <!-- Page content-->
  <section class="d-flex align-items-lg-center align-items-end position-relative min-vh-100 py-lg-5 py-0">
    <!-- Bg overlay--><span class="position-absolute top-0 start-0 d-lg-block d-none w-100 h-100 zindex-1 bg-dark rounded-4 rounded-start-0" style="max-width: 43.6vw;"></span>
    <!-- Overlay content-->
    <div class="container position-relative zindex-5">
      <div class="row align-items-md-center gy-4">
        <div class="col-lg-6 offset-lg-2 order-lg-2 order-1">
            <img src="assets/img/real-estate/istaff-flyer-el.png">

        </div>
      </div>
    </div>
  </section>
</main>
