<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>
  <!-- Page header-->
  <section class="container mb-4 pb-lg-5">
<!--    <h1 class="mx-auto mb-4 pb-2 text-center" style="max-width: 856px;">Hi, how can we help?</h1>-->
    <!-- Search form-->
<!--    <form class="form-group mb-4">-->
<!--      <div class="input-group input-group-lg">-->
<!--        <input class="form-control" type="text" placeholder="What are you looking for?">-->
<!--      </div>-->
<!--      <button class="btn btn-primary btn-lg px-sm-4 px-3" type="submit"><i class="fi-search me-sm-2"></i><span class="d-sm-inline d-none">Search</span></button>-->
<!--    </form>-->
  </section>
  <!-- Page content-->
  <section class="container mb-md-5 mb-4 pb-lg-5">
    <div class="row">
      <!-- Content-->
      <div class="col-lg-9 offset-xl-1 col-lg-8">
        <h2 class="mb-md-4 mb-3 pb-md-2">{{'TERMS_OF_USE' | translate}}</h2>
        <div class="pb-md-2">
          <h3 class="h5">{{'GENERAL' | translate}}</h3>
          <p>{{'TERMS_OF_USE_SECTION1' | translate}}</p>
        </div>
        <div class="pb-md-2">
          <h3 class="h5">{{'COPYRIGHT_TITLE' | translate}}</h3>
          <p>{{'COPYRIGHT_TEXT' | translate}}</p>
        </div>
        <div class="pb-md-2">
          <a class="btn btn-lg btn-primary" routerLink="/">{{'BACK_TO_HOME' | translate}}</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact us-->
<!--  <section class="container mb-5 pb-lg-5">-->
<!--    <div class="row align-items-sm-center">-->
<!--      <div class="col-sm-5"><img src="assets/img/real-estate/illustrations/support.svg" alt="Illustration"></div>-->
<!--      <div class="col-md-6 offset-md-1 col-sm-7 text-sm-start text-center">-->
<!--        <h2 class="mb-4 pb-md-3">Can’t find what you are looking for?</h2><a class="btn btn-lg btn-primary" routerLink="/pages/contacts">Contact us now</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
</main>
<!-- Footer-->
<app-footer></app-footer><!-- Filters sidebar toggle button (mobile)-->
